<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />

    <title>Cadastrar veículo</title>
</head>

<body>
    <div class="container-fluid header">
        <h1 class="display-4">Menu Principal</h1>
        <p class="lead">Este é o menu principal, nele você pode realizar cadastros, edições, exclusões e vizualizar
            todos os veículos!</p>
        <hr class="my-4">
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card card-menu my-5" style="width: 50em;">
                <div class="card-body">
                    <h5 class="card-title text-center">Menu Principal</h5>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="/menu" role="tab"
                                aria-controls="nav-home" aria-selected="false">Lista de veículos cadastrados</a>
                            <a class="nav-item nav-link active" id="nav-add-tab" data-toggle="tab" href="" role="tab"
                                aria-controls="nav-add" aria-selected="true" style="pointer-events: none;">Cadastrar
                                veículo</a>
                        </div>
                    </nav>
                </div>

                <div class="card-body">
                    <div class="col">
                        <form class="form-signin needs-validation" method="POST" action="/vehicle/register" novalidate>
                            <div class="form-group">
                                <label for="name">Nome do veículo</label>
                                <input type="text" id="name" name="name" class="form-control form-control-sm"
                                    placeholder="Nome do veículo" minlength="4" maxlength="100" required>
                                <div class="invalid-feedback">
                                    Por favor, digite o nome do veículo.
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mt-1" for="veiculo">Tipo do veículo</label>
                                <select class="custom-select" id="veiculo" name="type" required>
                                    <option value="" selected disabled>Selecione um tipo de veículo</option>
                                    <option value="carro">Carro</option>
                                    <option value="moto">Moto</option>
                                    <option value="caminhao">Caminhão</option>
                                    <option value="aviao">Avião</option>
                                    <option value="trem">Trem</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, escolha o tipo de veículo.
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mt-1" for="placa">Placa</label>
                                <input type="text" id="placa" name="license_plate" class="form-control form-control-sm"
                                    placeholder="Digite a placa do veículo" minlength="4" maxlength="10" required>
                                <div class="invalid-feedback">
                                    Por favor, digite a placa do veículo.
                                </div>
                            </div>

                            <label class="mt-1">Status</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="status-disponivel"
                                    value="true" checked>
                                <label class="form-check-label" for="status-disponivel">
                                    Disponível
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="status-indisponivel"
                                    value="false">
                                <label class="form-check-label" for="status-indisponivel">
                                    Indisponível
                                </label>
                            </div>

                            <div class="form-group mt-4 mb-3">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase"
                                    style="border-radius: 12px;">Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>