<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- jQuery -->
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />

    <!-- JS -->
    <script defer type="text/javascript" src="/js/DeleteAndUpdate.js"></script>

    <title>Cadastrar veículo</title>
</head>

<body>
    <div class="container-fluid header">
        <h1 class="display-4">Menu Principal</h1>
        <p class="lead">Este é o menu principal, nele você pode realizar cadastros, edições, exclusões e vizualizar
            todos os veículos!</p>
        <hr class="my-4">
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card card-menu my-5" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Menu Principal</h5>
                    <nav class="nav nav-tabs">
                        <a class="nav-item nav-link" href="/menu">Lista de veículos cadastrados</a>
                        <a class="nav-item nav-link" href="/menu/new">Cadastrar veículo</a>
                        <a class="nav-item nav-link active disabled" href="">Editar veículo</a>
                    </nav>
                </div>

                <div class="card-body">
                    <div class="col">
                        <form class="form-signin needs-validation update" method="POST"
                            action="/menu/<%- result.id %>/update" novalidate>
                            <div class="form-group">
                                <label for="name">Nome do veículo</label>
                                <input type="text" id="name" name="name" class="form-control form-control-sm"
                                    placeholder="Nome do veículo" minlength="4" maxlength="100" required>
                                <div class="invalid-feedback">
                                    Por favor, digite o nome do veículo, de 4 a 100 digitos.
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mt-1" for="type">Tipo do veículo</label>
                                <select class="custom-select" id="type" name="type" required>
                                    <option value="" disabled>Selecione um tipo de veículo</option>
                                    <option value="carro">Carro</option>
                                    <option value="moto">Moto</option>
                                    <option value="caminhao">Caminhão</option>
                                    <option value="aviao">Avião</option>
                                    <option value="trem">Trem</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, escolha o tipo de veículo.
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mt-1" for="license_plate">Placa</label>
                                <input type="text" id="license_plate" name="license_plate"
                                    class="form-control form-control-sm" placeholder="Digite a placa do veículo"
                                    minlength="4" maxlength="10" required>
                                <div class="invalid-feedback">
                                    Por favor, digite a placa do veículo, de 4 a 10 digitos.
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mt-1">Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="status_available"
                                        value="true">
                                    <label class="form-check-label" for="status_available">
                                        Disponível
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="status_unavailable"
                                        value="false">
                                    <label class="form-check-label" for="status_unavailable">
                                        Indisponível
                                    </label>
                                </div>
                            </div>

                            <div class="form-group mt-4 mb-3">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase"
                                    style="border-radius: 12px;">Editar veículo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Edição de veículo</h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="updateModalText">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        // Preencher dados do formulario

        const resultStringify = '<%- JSON.stringify(result) %>';
        const resultParsed = JSON.parse(resultStringify);

        document.getElementById('name').value = resultParsed.name;
        document.getElementById('type').value = resultParsed.type;
        document.getElementById('license_plate').value = resultParsed.license_plate;

        if (resultParsed.status === true) {
            document.getElementById('status_available').checked = true;
        } else {
            document.getElementById('status_unavailable').checked = true;
        }
    </script>
</body>

</html>